/*DEBUG*/

.debug .row > * {
    border: 1px solid red;
}

.debug .container {
    border: 2px solid blue;
}





.container {
    max-width: 70%;    
    margin-top: 50px;
}






/*HEADER*/

.img-navbar {
    max-width: 60px;

}





/*MAIN*/

.title {
    display: flex;
    justify-content: space-between;
}

.badge-color {
    color: white;
}



























