/*DEBUG*/

.debug .row > * {
    border: 1px solid red;
}

.debug .container {
    border: 2px solid blue;
}












/*HEADER*/

.img-navbar {
    max-width: 60px;
    display: flex;

}
 





/*MAIN*/





























